.internsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  @include adaptive-value('padding', 30, 20);
  color: $orange100;
  background-color: $green300;
  border-radius: 20px;
}

.filter {
  width: 40%;
  border-radius: 10px;

  @include respondMedium {
    width: 55%;
  }

  @include respondSmall {
    width: 100%;
  }
}

.filterInput {
  width: 100%;
  @include adaptive-value('height', 40, 12);
  @include adaptive-value('padding', 20, 4);
  font-family: Roboto;
  @include adaptive-value('font-size', 24, 10);
  text-align: center;
  line-height: 142%;
  color: $black;
  background-color: $orange100;
  outline: 1px solid $beige200;
  border-radius: 10px;
  transition:
    background-color 0.3s ease 0s,
    outline 0.3s ease 0s;

  @include respondXLarge {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $white;
      outline: 1px solid $gray300;
    }
  }

  &:focus {
    background-color: $beige200;
    outline: 1px solid $gray300;
  }

  &::placeholder {
    color: $gray300;
  }
}

.highlight {
  background-color: $orange200;
  border-radius: 2px;
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  @include adaptive-value('font-size', 48, 24);
  text-align: center;
  color: $orange200;
}

.intern {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;

  &:not(:last-child) {
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid;
  }
}

.internLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @include adaptive-value('font-size', 18, 10);
  color: inherit;

  &:active {
    color: $orange200;
  }
}

.internItem {
  width: 100%;
  max-width: 330px;
  line-height: 122%;

  @include respondSmall {
    text-align: center;
  }

  &:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
  & > *:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}

.buttons {
  display: flex;
  @include adaptive-value('gap', 20, 5);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vh;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 142%;
  color: $green400;
  background-color: $green100;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;

  @include respondLarge {
    height: 4vh;
    padding: 3px 9px;
  }

  @include respondMedium {
    width: 7vw;
    height: 4vh;
  }

  @include respondSmall {
    width: 10vw;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $orange200;
    }
  }

  &:active {
    background-color: $orange100;
  }
}

.startDate {
  max-width: 250px;
  white-space: nowrap;
  @include respondLarge {
    display: none;
  }
}

.internshipStage {
  @include respondMLarge {
    display: none;
  }
}

.internshipType {
  @include respondMedium {
    display: none;
  }
}

.directionLabel {
  @include respondSmall {
    display: none;
  }
}

.fullNameLabel {
  @include respondSmall {
    display: none;
  }
}
